<h3>Brotha Where Art Thou is a forum in where people can discuss<br> the presence of minorty actors in movies. Wheter it is the absence, an apperance that plays on stereotypes, or even who may havebeen able to do a good job in the movie.</h3>
